:root {
  --sh-btn-shdw: 0px 4px 7px rgba(22, 5, 44, 0.29);
  --sh-card-shadow: 0px 12px 26px rgba(22, 6, 5, 0.07);
  --sh-hard-shadow: 11px 21px 68px rgba(0, 0, 0, 0.35);
  --sh-red-shadow: 0px 4px 7px rgba(233, 42, 42, 0.24);
  --sh-shadow: 0px 16px 60px rgba(20, 3, 41, 0.33);
  --sh-windows-shadow: 0px 16px 60px rgba(20, 3, 41, 0.13);
}
