.root {
  &:hover {
    .control {
      @apply border-primary100;
    }

    .switch-indicator {
      @apply bg-hover300;
    }
  }

  input {
    &:focus-visible {
      + .control {
        @apply ring-4 ring-focus100;
      }
    }

    &:checked {
      + .control {
        @apply border-primary100 bg-primary100;

        .indicator {
          @apply opacity-100;
        }

        .switch-indicator {
          @apply translate-x-full bg-bg100;
        }
      }
    }

    &:disabled {
      + .control,
      ~ span {
        @apply opacity-50;
      }
    }
  }
}
