.bar1 {
  animation: bar linear 600ms infinite alternate;
}
.bar2 {
  animation: bar linear 600ms infinite alternate;
  animation-delay: 200ms;
}
.bar3 {
  animation: bar linear 600ms infinite alternate;
  animation-delay: 400ms;
}
.bar4 {
  animation: bar linear 600ms infinite alternate;
  animation-delay: 600ms;
}

@keyframes bar {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  33% {
    transform: translateY(2px);
    opacity: 0.2;
  }
  66% {
    transform: translateY(4px);
    opacity: 0.2;
  }
  100% {
    transform: translateY(6px);
    opacity: 0.2;
  }
}

@-webkit-keyframes bar {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  33% {
    transform: translateY(2px);
    opacity: 0.2;
  }
  66% {
    transform: translateY(4px);
    opacity: 0.2;
  }
  100% {
    transform: translateY(6px);
    opacity: 0.2;
  }
}
